.headerContainer {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
    /* position: sticky; */
}

.logo {
    color: white;
    font-style: italic;
    text-decoration: none;
    /* padding-left: 380px; */

    position: absolute;
    top: 5%;
    left: 50%;
}