.headerContainer {
    position: fixed;
    width: 100%;
    z-index: 9999;
    top: 0;
    left: 0;
}

.navBar {
    height: 60px;
}

.logo {
    position: absolute;
    top: 5%;
    left: 48%;
    color: white;
    font-style: italic;
    text-decoration: none;
    /* padding-left: 380px; */
}

.navLink {
    font-size: 20px;
    margin-left: 10px;
    text-decoration: none;
    color: rgb(210, 206, 200);
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}

.navLink:hover {
    color: rgb(219, 255, 255);
}