.discountOrPrice {
    /* margin: auto; */
    width: 100%;
    padding-left: 13%;
}

.oldPrice {
    text-decoration: line-through;
    text-decoration-color: rgb(228, 68, 68);
}

.firstDiv {
    font-size: 20px;
    font-weight: bold;
}

.secondDiv {
    font-weight: bold;
    font-size: 20px;
}